@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {font-family: 'Poppins', sans-serif;}
.welcome-bg { background: url(bn/bn-images/welcome-bg.jpg) no-repeat center; height: 100vh; background-size: cover;}
.content-holder { padding: 150px 0; display: flex; justify-content: space-between;}
.left-part {align-items: center; min-height: 50%; display: flex;}
.welcome-txt { font-weight: 700; }
.shape-holder {display:block;}
.shape { background: url(bn/bn-images/shape.png) no-repeat; background-size: cover; height: 637px; width: 574px; align-items:center; display: flex; justify-content: center;}
.logo-holder { height: 80%; padding: 5%; display: flex;justify-content: center;align-items: center;}
.login { display: flex; justify-content: center;}


/******** login Section ************/
.logo-login {
    width: 300px;
    height: 133px;
    border-radius: 1%;
    /*background: #fff;*/
    margin: 0 auto 20px;
    /*border: 5px solid #6c757d;*/
}
.login-section {
    z-index: 0;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #356262;
    /*background-image: linear-gradient(to bottom, #00674c, #21b891);*/
    /*background: -webkit-linear-gradient(left,#6a11cb,#2575fc);*/
    /*background: -webkit-linear-gradient(left,#073660,#0551d1);*/
    padding: 30px 0;

}

.login-section #particles-js {
    background-size: cover;
    background-position: 50% 50%;
    position: fixed;
    /*min-height: 100vh;*/
    height: 100%;
    width: 100%;
    z-index: -100;
    /*background-color: currentcolor;*/
}
.login-section .form-section {
    max-width: 500px;
    width: 100%;
    padding: 50px;
    border-radius: 30px;
    box-shadow: 0 0 35px rgb(0 0 0 / 10%);
    text-align: left;
    position: relative;
    background: #fff;
    margin: 0 auto;
    z-index: 0;
}
.login-section .form-section:before {
    content: "";
    width: 100%;
    height: 91px;
    position: absolute;
    top: 0;
    right: 0;
    background: url(bn/bn-images/form-decoration.png) top left repeat;
    background-size: cover;
    z-index: -1;
    border-radius: 30px 30px 0 0;
}
.login-section .btn-primary {
    /*background-image: linear-gradient(to bottom, #3b63c5, #39a4ff);*/
    background-image: linear-gradient(to bottom, #21b891, #00674c);
    padding: 0 50px !important;
    line-height: 50px;
    width: 100%;
    border: none;
    border-radius: 5px;
}
.login-section .btn-primary:hover {
    background-image: linear-gradient(to bottom, #00674c, #004e39);
}

.text-primary {color: #467f87 !important;}

/************** Dark Theme*********************/
.lights-off .login-section #particles-js {background: /*#060818;*/#151d29;}
.lights-off .login-section .form-section {background: /*#0e1726;*/#202d3f; color: #fff;}
.lights-off .text-primary {color: #888ea8 !important;}
.lights-off .form-control {background-color: #101720;border: 1px solid #101c2e;color: #009688;}
.lights-off .form-control:focus {box-shadow: none;border-color: #3b3f5c;color: #22c7d5;background-color: #12233e;}
.lights-off .login-section .btn-primary {color: #fff !important;background-color: #4361ee !important;box-shadow: none;border-color: #4361ee !important; background-image: none;}
.lights-off .login-section .btn-primary:hover {background-image: none;background-color: #5a77ff !important;}

/************** Dark Theme*********************/

/************media query***********/

@media only screen and (max-width:1200px)
{
    .welcome-bg{ height: 100%;}
    .left-part { margin-bottom: 30px;}
    .content-holder {
        padding: 150px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

}
@media only screen and (max-width:1024px)
{
    .shape {height: 100%; width: auto;padding: 16%; background-size: contain;}
}
@media only screen and (max-width:820px)
{
    .welcome-bg {
        height: 100vh;
    }
}
@media only screen and (max-width:767px)
{
    .welcome-bg {
        height: 100vh;
    }
}
@media only screen and (max-width:667px)
{
    .welcome-bg {
        height: 100%;
    }
}
